{% extends 'base.html.twig' %}

{% block title %}Ajout casier{% endblock %}

{% block body %}
<div class="container-fluid bg-dark ">
    <div class="row">
        <div class="col-sm-12 bg-dark text-center py-2 ">
            <h2 class="text-warning">Ajout d'un casier</h2>
        </div>
    </div>
    <div class="container text-warning bg-dark ">
        
            {{ form_errors(AjoutCasierForm) }}
                <div class="container p-5 pt-5 bg-dark">
                    {{ form_start(AjoutCasierForm) }}
                    <div class="d-flex justify-content-center mb-3 bg-dark">
                        <div class="row">
                            <div class="col-sm-12 p-3 "">
                                <label for="Longueur" class="lalongueur"> Longueur </label>
                                {{ form_widget(AjoutCasierForm.longueur) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 p-3">
                                <label for="Largeur" class="lalargueur"> Largeur </label>
                                {{ form_widget(AjoutCasierForm.largeur) }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-3 bg-dark">
                        <div class="row">
                            <div class="col-sm-12 p-3 "">
                                <label for="Hauteur" class="lahauteur"> Hauteur </label>
                                {{ form_widget(AjoutCasierForm.hauteur) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 p-3 "">
                                <label for="libell" class="lelibel"> libellé </label>
                                {{ form_widget(AjoutCasierForm.lib) }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <button type="submit" class="btn btn-warning">Valider</button>
                    </div>
            {{ form_end(AjoutCasierForm) }}

    </div>
</div>

{%endblock%}