 {% extends 'base.html.twig' %}

{% block title %}Gestion casier{% endblock %}

{% block body %}
<div class='container-fluid bg-dark'>
    <div class="row">
        <div class="col-sm-12 bg-dark text-center py-2 ">
            <h2 class="text-warning"> Gestion des casier</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <div class="card" style="width:900px">   
                <div class="card-body">
                    <table class="table table-striped"> 
                            <tr><th>Ville</th><th>Adresse</th><th>Capacite</th><th>id</th><th></tr>  
                        {% for lerelais in lesCentreRelais %}
                            <tr>
                                <td>{{ lerelais.ville }}</td>
                                <td>{{ lerelais.adresse }}</td>
                                <td>{{ lerelais.capacite}}</td>
                                <td>{{ lerelais.id}}</td>
                                <td>
                                    <form class="d-flex justify-content-center" method="post" >
                                        <div class="btn-group mr-2">
                                            <a type="submit" class="btn btn-warning" href="{{path('ModifierCasier', {'id':lerelais.id})}}" >Modifier</a>
                                            <a type="submit" class="btn btn-warning" href="{{path('SuprimerCasier', {'id':lerelais.id})}}">Supprimer</a>
                                            <a type="submit" class="btn btn-warning" href="{{path('AjoutCasier', {'id':lerelais.id})}}">Ajouter</a>
                                        </div>  
                                    </form>
                                </td>
                            </tr>   
                        {% endfor %}
                    </table>
                </div>
                <div class="card-Footer ">
                </div>
            </div>
        </div>s
    </div>
    <div class="container-fluid bg-dark ">
        <div class="col-sm-12 text-center py-5 text-warning bg-dark ">
            <a type="button" class="btn btn-warning" href="{{'/accueilAdmin'}}">Retour </a>
        </div>
    </div>
</div>
{% endblock %}
